.connect-sec {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;

  .content-wrapper {
    background-color: var(--background);
    transition: background-color 300ms ease-in-out;
  }

  .section-title {
    margin-bottom: 7rem;
    @include tablet {
      margin-bottom: 10rem;
    }
    @include desktop {
      margin-bottom: 13rem;
    }
  }

  & .lines {
    flex: 1;
    min-height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.001);
  }
  & .bottom {
    flex: 2;
  }

  ul {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin: 20px auto;
    width: 300px;
    justify-content: space-between;
    transition: width 300ms ease-in-out;
    @include tablet {
      width: 400px;
      margin-bottom: 40px;
    }

    li {
      position: relative;
      z-index: 1;
      margin: 0 10px;
    }

    .linkedIn-icon,
    .instagram-icon,
    .twitter-icon,
    .email-icon,
    .github-icon {
      cursor: pointer;
      svg {
        color: var(--accent);
        width: 2.5em;
        height: 2.5em;
        padding-bottom: 1px;
        @include tablet {
          width: 3em;
          height: 3em;
        }
        @include desktop {
          width: 4em;
          height: 4em;
        }
      }
      .linkedIn-svg,
      .instagram-svg,
      .twitter-svg,
      .email-svg {
        padding: 0.5em;
        @include desktop {
          padding: 0.7em;
        }
      }
      &::before {
        content: "";
        position: absolute;
        border: 1px solid var(--accent);
        opacity: 0.75;
        height: 2.5em;
        width: 2.5em;
        z-index: -10;
        border-radius: 50%;
        @include tablet {
          width: 3em;
          height: 3em;
        }
        @include desktop {
          width: 4em;
          height: 4em;
        }
      }
      &::after {
        content: "";
        position: absolute;
        background-color: var(--launch-one);
        opacity: 0;
        transform: scale(0);
        height: 2.5em;
        width: 2.5em;
        z-index: 0;
        left: 0;
        border-radius: 50%;
        transition: all 250ms;
        @include tablet {
          width: 3em;
          height: 3em;
        }
        @include desktop {
          width: 4em;
          height: 4em;
        }
      }
      &:hover::after {
        @include desktop {
          opacity: 0.4;
          transform: scale(1);
        }
      }
    }
  }
}
