.landing-sec {
  display: flex;
  flex-direction: column;
  & .lines {
    flex:2;
    width: 100%;
    // background-color: burlywood;
    background-image: var(--lines);
    background-repeat:repeat;
    background-size:15px;
  }
  & .bottom {
    flex: 3;
  }
}

.logo-large {
  @include titling;
  color: var(--logo);
  font-size: 2.25em;
  line-height: 2em;
  margin-left: 10px;
  h1 {
    margin: 0;
  }
}

.tagline {
  margin: 10px 0;
  padding-right: 10px;
  @include text-two;
  color: var(--text);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  p {
    width: fit-content;
    font-size: 1.125em;
  }
}
