.nav-bar {
  padding: 20px 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 15;
}

.site-title {
  @include text-two;
  backdrop-filter: blur(10px);
  color: var(--text);
  font-size: 1.5em;
  margin-right: 25%;
  padding-right: 5px;
  border-radius: 0 8px 8px 0;
  border-top: 1px var(--border-line) solid;
  border-right: 1px var(--border-line) solid;
  border-bottom: 1px var(--border-line) solid;
  height: 1.5em;
  line-height: 1.25em;
  cursor: pointer;
  transition: padding 300ms cubic-bezier(0.22, 0.6, 0.67, 0.95);
  @include tablet {
    padding: 3px 10px;
    height: unset;
  }
  span {
    @include text-three;
    color: var(--accent);
    transition: color 250ms ease-in-out;
  }
}

nav {
  flex: 1;
}

.nav-ul {
  backdrop-filter: blur(10px);
  display: flex;
  float: right;
  position: relative;
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 8px 0 0 8px;
  border-top: 1px var(--border-line) solid;
  border-left: 1px var(--border-line) solid;
  border-bottom: 1px var(--border-line) solid;
  transition: padding 300ms cubic-bezier(0.22, 0.6, 0.67, 0.95);
  @include tablet {
    padding: 3px 5px;
    padding-right: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 70%;
    opacity: calc(var(--nav-line-opacity) * 0.6);
    border-left: 1px solid var(--text-highlight);
    border-right: 1px solid var(--text-highlight);
    width: var(--nav-line-width);
    left: var(--nav-line-left);
    bottom: 15%;
    transition: all 350ms cubic-bezier(0.52, 0.02, 0.6, 1);
    pointer-events: none;
  }
  li {
    cursor: pointer;
    &.active {
      p {
        color: var(--text-highlight);
      }
    }
    p {
      @include text-three;
      color: var(--accent);
      font-size: 1.4em;
      padding: 0 5px;
      height: 1.6em;
      line-height: 1.4em;
      transition: color 350ms cubic-bezier(0.52, 0.02, 0.6, 1);
    }
    @include tablet {
      padding: 0 5px;
    }
    @include desktop {
      padding: 0 10px;
    }
  }

  li:focus {
    outline: none;
    @include desktop {
      outline: unset;
    }
  }
}

.theme-icon {
  color: var(--accent);
  margin-top: 25%;
  width: 1.4em;
  height: 1.4em;
  margin-left: 5px;
  &.moon {
    margin-top: 30%;
    width: 1.4em;
    height: 1.2em;
  }
}
